h5{
    border: 1px solid darkblue;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    margin: 20px 0px;
}
.bdt{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: gray;
    margin-right: 10px;
    padding: 2px;
}
.nut{
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    color: white;
}
.foot{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    background-color: gray;
    color: white;
}